/* //navbar color 333333
//row 1 
// */
/**
 * grid 1
 * get a loan rgb(75, 241, 160)
 * grid 2
 * bank button rgb(237, 239, 77)
 * work button rgb(77, 112, 240)
 * grid 3
 * 
 * row 2
 * buy now button rgb(75, 201, 240)
 */
 :root{
  --area-margin-left:10 em;
  --image-height:55%
 }
 
 /************************HEADERS/FOOTERS/MAIN*****************************/
 .wrapper{
    min-width: 873px;
    box-sizing: border-box;
    
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
 }
 header,footer{
    background-color: #333333;
    width: inherit;
    height: 5%;
    align-self: center;
    text-align: center;
    
    
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
header{
  justify-content: start;
}
footer{
  justify-content: start;
  display: flex;
  flex-direction: row;
  
}
.footer{
  margin-right: 70%;
  width: 80%;
}
main{
  margin-top: 5rem;
  width: inherit;
  align-self: center;
  justify-self: center;
}
/************************END OF HEADERS/FOOTERS/MAIN*****************************/
/********************************************************************************/
/*********************************NAVBAR*****************************************/
nav{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    
}
.right-navbar > ul{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.right-navbar > ul > li{
    display: inline;
    
 }
 .right-navbar > ul > li >a{
    color: wheat;
    
 }
 .navbar-home{
    font-size: 25px;
    color: wheat;
 }
 
.left-navbar-list > li{
        display: inline;
 }


button{
    border-radius: 10px;

}
.footer>p{
  
  color: white;
}
/*******************************END OF NAVBAR************************************/
/********************************************************************************/
/*********************************MAIN BODY GENERAL ITEMS**************************************/


.grid-container {
    display: grid;
    
    background-color: white;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 15em;
    /* row-gap: 40px; */
    grid-gap: 20px;
    margin-bottom: 10%;
    
    
}

.area-item{
    border-style: solid;
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    grid-row: 1/ span 3;
    display: grid;
    height: 250px;
    
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

/***********************************END OF MAIN BODY GENERAL ITEMS*******************************/
/***********************************************************************************************/
/*********************************MAIN BODY SPECIFIC ITEMS**************************************/

.bank-section{
  grid-column: 1 / span 2;
  
}
.work-section{
  grid-column: 3 / span 2;
}
.laptop-selection-area{
  grid-column: 5 / span 2;
  row-gap: 5%;
} 
.laptop-information-area{
  grid-column: 1/ span 6;
  grid-row: 8 / span 13;
  height: 500px;
  column-gap: 5%;
}
/*********************************END OF MAIN BODY SPECIFIC ITEMS**************************************/
/******************************************************************************************************/
/*******************************************INNER ITEMS************************************************/


  .inner-area-item{
    /* border-style: dotted; */
    
  }

  .inner-area-item.item1{
    grid-column: 1 / span 3;
    margin-left: 10%;
    width: 70%;
    
  }
  .inner-area-item.item2{
    grid-column: 1 / span 3;
    margin-left: 10%;
    width: 90%;
  }

  .inner-area-item.item1>h3{
    font-size: xx-large;
    text-align: start;
  }

.inner-area-item.item3{
    grid-row: 3;
    grid-column: 1 /span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
/****************************************END OF INNER ITEMS********************************************/
/******************************************************************************************************/
/*******************************************LAPTOP SELECTION AREA**************************************/

.laptop-selection-area>.inner-area-item.item1.title{
  
  height: 80%;
  
  
}
.laptop-selection-area h2{
  
  
}
.laptop-selection-area>.inner-area-item.item1{
  grid-row: 1;
  grid-column: 1/ span 3;
}
.laptop-selection-area>.inner-area-item.item2{
  grid-row: 2;
  grid-column: 1/ span 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.laptop-selection-area>.inner-area-item.item2 div{
  
  height: 100%;
  /* flex-grow: 2; */
}

.laptop-selection-area select{
  
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  font-size: large;
  }

.laptop-selection-area>.inner-area-item.item3{

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80%;
  
}
.laptop-selection-area.features{
  overflow: auto;
  width: 90%;
  margin-left: 10%;
 
 
  /* overflow-x: hidden;  */

}
.laptop-selection-area.features div thead th{
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.laptop-selection-area.features div thead th:first-child{
  position: sticky;
}
.laptop-selection-area.features tbody tr{
   /* position: sticky;  */
}
.laptop-selection-area.features div table  {  border-collapse: collapse;   text-align: start;  table-layout: fixed;
  }
/* th, td { padding: 8px 16px; } */
.laptop-selection-area.features div table th     {font-size: large; background:#eee; text-align: start;}

/************************************END OF LAPTOP SELECTION AREA**************************************/
/******************************************************************************************************/
/*******************************************WORK SECTION***********************************************/
.work-section.item2{
  display: flex;
  
  flex-direction:row;
  
  justify-content: space-between;
  align-items: center;
  /* align-items: baseline; */
  
}
#pay-text{
  
  justify-self: flex-start;
  
}
.work-section p{
  font-size: x-large;
  
}
#pay-amount{
  justify-self: flex-end;
  margin-right: 10%;
}
 
.button-bank{
  display:contents;
  margin-left:10%;
  margin-right:5%;
  height: 50%;
  width: 50%;
}
.button-work{
  display:contents;
  margin-left:5%;
  margin-right:10%;
  height: 50%;
  width: 50%;
}



#bank{
  justify-content: center;
    font-size: large;
    margin-right: inherit;
    margin-left: inherit;
    bottom: 0;
    height: inherit;
    width: inherit;
    
    background-color: rgb(237, 239, 77)
}

#work{
  justify-content: center;
    font-size: large;
    margin-right: inherit;
    margin-left: inherit;
    bottom: 0;
    height: inherit;
    width: inherit;
    
    background-color: rgb(77, 112, 240);
}
/****************************************END OF WORK SECTION*******************************************/
/******************************************************************************************************/
/*******************************************BANK SECTION***********************************************/
.bank-section .item2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#balance-amount{
  margin-right: 10%;
}
.bank-section p{
  font-size: x-large;
}

.button-loan{
    display:contents;
    
   
    height: 50%;
    width: 80%;
}

#loan{    
  justify-content: center;
  font-size: x-large;
  bottom: 0;
  height: inherit;
  width: inherit;
  
  
  background-color: rgb(75, 241, 160);
}
/****************************************END OF BANK SECTION*******************************************/
/******************************************************************************************************/
/*************************************LAPTOP INFORMATION AREA******************************************/
.laptop-information-area{
  /* align-items: baseline; */
  align-items:flex-start;
}
.laptop-information-area .laptop-information-area-item {
  grid-row: 2;
  display: flex;
  
  
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
  
  
}
.laptop-information-area-item.image{
  
  align-self: center;
}

.laptop-information-area-item img{
  height: var(--image-height);
  width: calc(var(--image-height)*1.77777778);
}

.laptop-information-area-item.model-info{
  display: flex;
  
  flex-direction: column;
  
  
  width: 100%;
  
  height: 100%;
}

.laptop-information-area-item.model-info.model{
  
  
  
}
.laptop-information-area-item.model-info.info{
  
}

.laptop-information-area-item.price-info{
  display: flex;
  flex-direction: column;
  
  width: 80%;
  /* align-content: center; */
  
  height: 100%;
  
  
}
.laptop-information-area-item.price-info.price{

}

.laptop-information-area-item.price-info.price h1{
 
}

.laptop-information-area-item.price-info.button{
  
  
  height: 100%;
}

 .laptop-information-area-item.price-info.button button{
  width: 100%;
  height: 50%;
  background-color: rgb(75, 201, 240);
  font-size: large;
  font-weight: bold;
}
/* .laptop-information-area{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.laptop-information-area .image{
 grid-column: 1;
 grid-row: 2 / span 2;
 
}
.laptop-information-area .model-info{
  grid-column: 2;
  grid-row: 2 /span 2;
}
.laptop-information-area img{
  height: var(--image-height);
  width: calc(var(--image-height)*1.77777778);
}
.laptop-information-area .price-info{
  grid-column:3 ;
  grid-row: 2 /span 2;
} */
/**********************************END OF LAPTOP INFORMATION AREA*************************************/
/*****************************************************************************************************/
/******************************************MISCELLANEOUS**********************************************/


/***************************************END OF MISCELLANEOUS******************************************/
/*****************************************************************************************************/
/****************************************END OF MAIN BODY*********************************************/

.flex-item{
    background-color: blue;
    
} 

/******************************************************************************************************/
/*******************************************INNER ITEMS************************************************/